SQL_SERVER=191.243.199.169,15000\RTTSQLEXCEL001
SQL_DB=DATALAKERTT001
SQL_USER=thiego.silva
SQL_PASS=udyt$#sdsQ

SUPABASE_URL=https://SEU_PROJECT_ID.supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui
